.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 60px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 60px;
}

body {
    background-image: url(478513-abstract-colorful-orange-blue-white-pink-red.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
    min-width: 200px;
}