@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Questrial&family=Rozha+One&display=swap');

:root {
    --primary: #3E3EF6;
    --secondary: #8392B9;
    --bg-gradient: radial-gradient(127.48% 204.84% at 85.59% 90.56%, rgba(18, 18, 244, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    --bg-gradient-l: radial-gradient(125.92% 125.92% at 22.14% 88.99%, rgba(19, 18, 244, 0.5) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    --font: 'Inter', sans-serif;
    --shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

body {
    font-family: --font;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header,
nav {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    color: #BDB76B;
}

.artwork-gallery {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.artwork-gallery h2 {
    font-size: 2em;
    color: #333;
}

.artwork-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.artwork-thumbnail {
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.artwork-thumbnail img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.artwork-thumbnail img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.gradient-bg {
    background: var(--bg-gradient);
}

.gradient-bg-l {
    background: var(--bg-gradient-l);
}


/* Styling for Forms */
.upload-page,
.selling-page,
.details-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-page h1,
.selling-page h1 {
    font-size: 24px;
    color: #4C4A8F;

}

.upload-page main,
.selling-page main,
.details-page main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-page .wrapper,
.selling-page .wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(204, 203, 239, 0.37);
    width: 70%;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: var(--shadow);
}

.upload-page form input,
.upload-page form textarea,
.selling-page form input,
.selling-page form textarea {
    width: 90%;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

.upload-page form div,
.selling-page form div {
    margin: 18px 0px;
}

.upload-page .fileInput,
.selling-page .fileInput {
    background-color: transparent;
}

.preview {
    text-align: center;
}

button.custom-button {
    background-color: var(--primary);
    color: #fff;

}

button.custom-button:hover {
    background-color: #1F1FBF;
    color: #fff;
}

.upload-page .form-container,
.selling-page .form-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


input[type="file"]::file-selector-button {
    background-color: var(--secondary);
    color: #fff;
    border: none;
    cursor: pointer;

}

input[type="file"]::file-selector-button:hover {
    background-color: #5C6B8E;
}

.image-preview {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 250px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Details page styles */
.artwork {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    gap: 20px;
}

.info {
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.full-img {
    width: 100%;
    height: 400px;
    background-color: #fff;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;

}

.full-img img {
    max-width: 100%;
    max-height: 100%;
}

.user-pic {
    width: 60px;
    height: 60px;
}