<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/registrationstyles.css') }}" />
</head>
<body>
    <header>

    </header>


    <div class="admin-page">
        <h1>Admin Page</h1>
        <h2>Users</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Sign Up Date</th>                    
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registrationDate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Artworks</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>link</th>
                </tr>
            </thead>
            <tbody>
                {% for artwork in artworks %}
                <tr>
                    <td>{{ artwork.id }}</td>
                    <td>{{ artwork.title }}</td>
                    <td>{{ artwork.price }}</td>
                    <td>{{ artwork.url }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Comments</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Artwork</th>
                    <th>Author</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in Comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.artwork_id }}</td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Transactions</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Buyer</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in Transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.buyer_name }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
