<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{artwork.title}} by {{artist.userName}}</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body class="details-page gradient-bg-l">
    <!-- Navbar (You can create a separate header file and include it on all pages) -->
    <header>
        {% extends "base.html" %}
      </header>
    {% block content %}

        <!-- Artwork Gallery Section -->
        <div class="artwork">
            
                <!-- Display the user's artworks here -->
                <!-- You can use a loop to generate the artwork thumbnails -->
                <!-- Example of a single artwork thumbnail -->
                <div class="full-img">
                    <a href="{{ artwork.url }}">
                        <img src="{{ artwork.url }}" alt="{{ artwork.title }}">
                    </a>
                </div>

                <div class="info">
                    <a href="{{ url_for('userProfile', user_id=artwork.user_id) }}"><img class="user-pic"  src="{{ artist.profilePhotoLink }}" alt="profile pic"></a>
                    <div class="details">
                        <h3>{{artwork.title}}</h3>
                        <p>by <a href="{{ url_for('userProfile', user_id=artwork.user_id) }}">{{artist.userName}}</a></p>
                        <p>{{artwork.description}}</p>
                        <p>Published {{artwork.uploadDate.strftime("%B %d, %Y")}}</p>                       
                    </div>
                </div>

                <div>
                    <h4>Buy a print?</h4>
                    <p>{{artwork.price}}</p>
                    <p>{{artwork.status}}</p> 
                    {% if artwork.shop_item %}
                    <form action="{{ url_for('addCart', artwork_id=artwork.id) }}" method="POST"
                    enctype="multipart/form-data">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1">
                        <button type="submit">Add to cart</button>
                    </form>   
                    {% endif %}
                </div>
        </div>              
        
        <!-- Comment Section -->
        <!-- <form class="ui form" action="/artwork/{{artwork.id}}" method="post" enctype="multipart/form-data">
            <img src="{{user.profilePhotoLink}}" alt="{{user.userName}}" width="50px">
            <input type="text" name="text" placeholder="Add a new comment...">
            <button class="ui blue button custom-button" type="submit">Comment</button>
        </form>
            
        <div comment-section>
        {% for comment in comments %}
            <div comment>
                <a href="{{ url_for('userProfile', user_id=comment.author_id) }}"> <img src="{{comment.profile_pic}}" alt="{{comment.author}}" width="50px"></a>
            <p><a href="{{ url_for('userProfile', user_id=comment.author_id) }}">{{comment.author}}</a> says: {{comment.text}}</p>
            {% if user.userName == comment.author %}
                <a href="{{ url_for('deleteComment', comment_id=comment.id, artwork_id=artwork.id)}}" class="ui blue button custom-button">Delete</a>
            {% endif %}
            </div>
        {% endfor %}
        </div> -->
        
                <b>Comments</b> {{commentsCount}}

                <form class="ui form" action="/artwork/{{artwork.id}}" method="post" enctype="multipart/form-data">
                    <img src="{{user.profilePhotoLink}}" alt="{{user.userName}}" width="50px">
                    {% if userLoggedIn %}
                    <input type="text" name="text" placeholder="Add a new comment...">
                    <button class="btn btn-primary" role="button" type="submit">Comment</button>

                    {% endif %}

                    {% if userLoggedIn == False %}
                    <input type="text" name="text" placeholder="Log in to comment...">
                    <a href="{{url_for('loginPage')}}" class="btn btn-primary" role="button">Comment</a>
                    {% endif %}

                </form>

                <br>
                <div comment-section>
                {% for comment in comments %}
                    <div comment>
                        <p> <a href="{{ url_for('userProfile', user_id=comment.author_id) }}"> <img src="{{comment.profile_pic}}" alt="{{comment.author}}" width="50px"></a>
                    <a href="{{ url_for('userProfile', user_id=comment.author_id) }}">{{comment.author}}</a> says: {{comment.text}}
                    {% if user and user.userName == comment.author %}
                        <a href="{{ url_for('deleteComment', comment_id=comment.id, artwork_id=artwork.id)}}" class="btn btn-primary" role="button">Delete</a></p>
                    {% endif %}
                    </div>
                {% endfor %}
                </div>
    <!-- Footer -->
    

    <!-- Add your JavaScript file link here if needed -->
    <script src="scripts.js"></script>
    {% endblock %}
</body>
</html>