<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Details</title>
</head>
<body class="details-page gradient-bg-l">
    <main>
        <div class="artwork">
        <div class="full-img">
            <!--placeholder img-->
            <img src="{{ url_for('static', filename='ArtVision_Logo.svg')}}">
        </div>
        <div class="info">
            <!--placeholder img-->
            <img class="user-pic" src="{{ url_for('static', filename='ArtVision_Logo.svg')}}">
            <div class="details">
                <h4>Artwork Name</h4>
                <p>by Artist</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
        </div>
        </div>
    </main>
</body>
</html>