<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='deleteArt.css') }}" />
        <title>Delete</title>
    </head>
    <body>
            <header>
      {% extends "base.html" %}
    </header>
  {% block content %}
        <h1>Hi {{ user.name }}, update your user information.</h1>
        <form class="ui form" action="/editAccount/{{user.id}}" method="POST" enctype="multipart/form-data">
        <div class="field">
            <div>
                <p>Verify current User info</p>
                <input type="text" name="currentemail" placeholder="Current Email"> <br>
                <input type="password" name="currentpassword" placeholder="Current Password"> <br>
                <input type="text" name="currentusername" placeholder="Current Username"> <br>
            </div>
            <br>
            <p>Enter updated User info</p>
            <input type="text" name="newusername" placeholder="New Username"> <br>
            <input type="text" name="confirmnewusername" placeholder="Confirm New Username"> <br>
            <input type="text" name="newemail" placeholder="New Email"> <br>
            <input type="text" name="confirmnewemail" placeholder="Confirm New Email"> <br>
            <input type="password" name="newpassword" placeholder="New Password"> <br>
            <input type="password" name="confirmnewpassword" placeholder="Confirm New Password"> <br>
 
        </div>
        <button class="ui blue button custom-button" type="submit">Update</button>
    </form>
    {% if error %}
    <p>{{ error}}</p>
    {% endif %}
    {% endblock %}
    </body>
</html>