<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore ArtVision</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <!-- Navbar (You can create a separate header file and include it on all pages) -->
    <header>
        {% extends "base.html" %}
      </header>
    {% block content %}


    <!-- SIDEBAR GOES HERE-->
    <h2><a href="{{url_for('explore')}}">Explore</a></h2>

    <!--search bar-->
    <form class="ui form" action="/explore" method="post" enctype="multipart/form-data">
        <input type="text" name="search_term" placeholder="Search art...">
        <button class="ui blue button custom-button" type="submit" style="display: none"></button>
    </form>

    <h4>Popular</h4>

    <h4>Newest</h4>

    <a href="{{ url_for('artworkDetails', artwork_id=randomArtwork.id) }}"><h4>Random Artwork</h4></a>

    <h2>Categories</h2>
    <p>Traditional Art</p>
    <p>Digital Art</p>
    <p>Mixed Media</p>
    <p>Graphic Design</p>
    <p>Photography</p>
    <p>Comics</p>
    <p>Fan Art</p>


        <!-- Artwork Gallery Section -->
        <div class="artwork-gallery">
            <h2>ArtVision Gallery</h2>
            <div class="artwork-grid">
                {% for artwork in artworks %}
                <!-- Display the sitewide artworks here -->
                <!-- Grab random/popular artwork from within a certain time period -->
                <!-- Example of a single artwork thumbnail -->
                <div class="artwork-thumbnail">
                    <a href="{{ url_for('artworkDetails', artwork_id=artwork.id) }}">
                        <img src="{{ artwork.url }}" alt="{{ artwork.title }}"> 
                   </a>
                </div>
                <div class="artwork-details">
                    <p><a href="{{ url_for('artworkDetails', artwork_id=artwork.id) }}">{{artwork.title}}</a> by <a href="{{ url_for('userProfile', user_id=artwork.user_id) }}">{{artwork.artist}}</a></p>
                    </div>
                {% endfor %}    
            </div>
        </div>

    <!-- Footer -->
    <footer>
        <!-- Your footer content here -->
    </footer>

    <!-- Add your JavaScript file link here if needed -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        let userLoggedIn = {{ userLoggedIn|tojson }};
        document.querySelectorAll(".artwork-thumbnail img").forEach(function(artwork){
          artwork.addEventListener("click", function(){
            if (!userLoggedIn) {
              alert("Alert: Non-Users will be able to view artwork but not comment!");
            }
          });
        });
      </script>
    {% endblock %}
</body>
</html>
