<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ArtVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registrationstyles.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- <script>
        //Array of images which you want to show: Use path you want.
        var images= {{all_art|tojson}};
        index = 0
        console.log(images.length)
        for (url in images) {
            console.log(images[index]);
            index++;
        }
        
        var nextimage=0;
        doSlideshow();

        function doSlideshow(){
            if(nextimage>=images.length){nextimage=0;}
            $('body')
            .css('background-image','url("'+images[Math.floor(Math.random() * images.length)]+'")')
            .fadeIn(500,function(){
                setTimeout(doSlideshow,1000);
            });
        }

        </script> -->

        
        <script>
            var images = {{all_art|tojson}};
            var nextImageIndex = 0;
            var currentImageIndex = -1;
        
            console.log(images.length);
            for (var index in images) {
                console.log(images[index]);
            }

            
            var all_art = {{all_art_objects|tojson}}
            var length = all_art.length
            for (var index=0; index<length; index++){
                console.log(all_art[index])
            }
            
        
            doSlideshow();
        
            function doSlideshow() {
                if (nextImageIndex >= images.length) {
                    nextImageIndex = 0;
                }
                while (nextImageIndex == currentImageIndex) {
                    nextImageIndex = Math.floor(Math.random() * images.length);
                }
                currentImageIndex = nextImageIndex;
                var nextImage = images[nextImageIndex++];

                for (var index=0; index<length; index++){
                    if ((all_art[index]['url']) == nextImage) {
                        document.getElementById("artwork_title").innerHTML=all_art[index]['artist']
                        document.getElementById("artwork_artist").innerHTML=all_art[index]['title']
                        //changePfp(document.getElementById("artwork_pfp"),"new_url")
                        //https://stackoverflow.com/questions/7312553/change-image-source-with-javascript
                    }
                }   
                

                //$("#background").removeClass('fadeIn').addClass('fadeOu');
                setTimeout(function() {
                    $('#background').css('background-image', 'url("' + nextImage + '")');
                    //$("#background").removeClass('fadeOut').addClass('fadeIn');
                    setTimeout(doSlideshow, 5000);
                }, 1000);
            }

            function changePfp(domImage, srcImage) {
                var img = new Image();
                img.onload = function()
                {
                    domImg.src = this.src;
                };
                img.src = srcImage;
            }
        </script>
        
</head>

<body id="background">
        <div class="fd-container">
            <img src="{{ url_for('static', filename='img/ArtVision_Logo.svg')}}" width="80" alt="Logo">
            <h1>ArtVision</h1>
            <p><em>See the world in new colors</em></p>
            <div class="home-buttons">
                <button type="buttons" class="btn btn-primary" onclick="window.location.href='{{ url_for('register') }}';">Create an Account</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('loginPage') }}';">Log In</button><!-- Needs to be updated to Sign Up page -->
            </div>
            <p><a href="{{url_for('explore')}}">Continue wihout an Account</a></p>
          </div>

          <div class="artwork-info">
            <img class="user" src="{{ url_for('static', filename='img/ArtVision_Logo.svg')}}" id="artwork_pfp">
            <div class="artist-details">
            <p id="artwork_title">Artwork title</p>
            <p id="artwork_artist">by Artist</p>
          </div>
          </div>
</body>

</html>