<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='registrationstyles.css') }}" />
    <title>ArtVision</title>
</head>

<body>
    <main>
        <div class="fd-container">
            <img src="{{ url_for('static', filename='ArtVision_Logo.svg')}}" width="80" alt="Logo">
            <h1>ArtVision</h1>
            <p><em>See the world in new colors</em></p>
            <div class="home-buttons">
                <button type="buttons" class="btn btn-primary" onclick="window.location.href='{{ url_for('loginPage') }}';">Login</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('register') }}';">Sign Up</button><!-- Needs to be updated to Sign Up page -->
            </div>
            <p><a href="{{url_for('explore')}}">Continue wihout an Account</a></p>
          </div>
          <div class="artwork-info">
            <img class="user" src="{{ url_for('static', filename='ArtVision_Logo.svg')}}">
            <div class="artist-details">
            <p>Artowrk title</p>
            <p>by Artist</p>
          </div>
          </div>
    </main>
</body>

</html>