<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ArtVision | Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='registrationstyles.css') }}" />
    </head>
    <body>
        <main>
            <div class="fd-container">
              <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='ArtVision_Logo.svg')}}" width="80" alt="Logo"></a>
                <h1>Login to Your Account</h1>
                <form method="POST">
                    {{form.hidden_tag()}}
                    <br>
                    {{form.userIdentity(placeholder="Email Address or username")}}
                    <br>
                    {{form.password(placeholder="Password", type="password")}}
                    <br>
                    {{form.submit(class="custom-button")}}
                </form>
                {% if error %}
                <p>{{ error}}</p>
                {% endif %}
                <p>Not a member yet? <a class="createAccount" href="{{url_for('register')}}">Create an Account</a></p>
              </div>
          <div class="artwork-info">
            <img class="user" src="{{ url_for('static', filename='ArtVision_Logo.svg')}}">
            <div class="artist-details">
            <p>Artwork title</p>
            <p>by Artist</p>
          </div>
          </div>
        </main>
      </body>
</html>