<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Purchase</title>
  </head>
  <body class="purchase-page gradient-bg">
    <header>
      {% extends "base.html" %}
    </header>
  {% block content %}
    <main class="main-content">
      <div class="wrapper">
        <h1>Checkout</h1>
        <div class="form-container">
          <div class="checkout-summary">
            <h2>Summary</h2>
           {% if session['cart'] %}
            {% for item, art in cart.items() %}
              <div class="card">
                <div
                  class="card-img"
                  style="width: 100px; height: 100px; background-color: grey"
                ><img style="width: 100%; height: 100%; background-size: cover; background-position: center center; " src="{{art.image_url}}"></div>
                <div class="card-details">
                  <p>{{art.title}}</p>
                  <p>{{art.price}}</p>
                  <div class="quantity"><button>-</button>{{ art.quantity }}<button>+</button></div>
                  <a href="{{ url_for('deleteCartItem', artwork_id=item ) }}">Delete</a> <br>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <p>Cart is empty</p>
              {% endif %}
            <div class="total">
              <div>TOTAL</div>
              <div>USD </div>
            </div>
          </div>
      <form method="POST" enctype="multipart/form-data" >
        <h2>Shipping Address</h2>
        <fieldset>
          <div>
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" required />
          </div>
          <div>
            <label for="address">Address</label><br>
            <input type="text" id="address" name="address" required />
          </div>
          <div>
            <label for="city">City</label><br>
            <input type="text" id="city" name="city" required />
          </div>
          <div>
            <label for="state">State</label><br>
            <input type="text" id="state" name="state" required />
          </div>
          <div>
            <label for="country">Countries</label><br>
            <select id="country" name="country" required>
              <option value="USA">United States</option>
              <option value="CAN">Canada</option>
              <option value="GBR">United Kingdom</option>
            </select>
          </div>
          <div>
            <label for="zip-code">Zip Code</label>
            <input type="text" id="zip-code" name="zip-code" required />
          </div>
          <!-- <input type="submit" value="Submit" /> -->
        </fieldset>

        <h2>Payment Details</h2>
        <fieldset>
          <div>
            <label for="card-number">Card Number</label><br>
            <input type="text" id="card-number" name="card-number" required />
          </div>
          <div>
            <label for="c-name">Name on Card</label><br>
            <input type="text" id="c-name" name="c-name" required />
          </div>
          <div>
            <label for="date">Expiration Date</label>
            <input
              type="text"
              id="date"
              name="date"
              placeholder="MM/YYYY"
              required
            />
          </div>
          <div>
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" name="cvv" placeholder="***" required />
            </div>
        </fieldset>
        <button class="btn custom-button" type="submit">Submit</button>
      </form>
    </div>
    </div>
    </main>
    {% endblock %}
  </body>
</html>
