<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ArtVision | Register
        </title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registrationstyles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

        <script>
            var images = {{all_art|tojson}};
            var nextImageIndex = 0;
            var currentImageIndex = -1;
        
            console.log(images.length);
            for (var index in images) {
                console.log(images[index]);
            }

        
            doSlideshow();
        
            function doSlideshow() {
                if (nextImageIndex >= images.length) {
                    nextImageIndex = 0;
                }
                while (nextImageIndex == currentImageIndex) {
                    nextImageIndex = Math.floor(Math.random() * images.length);
                }
                currentImageIndex = nextImageIndex;
                var nextImage = images[nextImageIndex++];


                //$("#background").removeClass('fadeIn').addClass('fadeOu');
                setTimeout(function() {
                    $('#background').css('background-image', 'url("' + nextImage + '")');
                    //$("#background").removeClass('fadeOut').addClass('fadeIn');
                    setTimeout(doSlideshow, 5000);
                }, 1000);
            }

        </script>

    </head>
    <body id="background">
        <div class="register fd-container">
            <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/ArtVision_Logo.svg')}}" width="80" alt="Logo"></a>
            <h1>Create an Account</h1>
            
            <form class="ui form" action="/add" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="Name"> <br>
                    <input type="text" name="email" placeholder="Email"> <br>
                    <input type="text" name="username" placeholder="Username"> <br>
                    <input type="password" name="password" placeholder="Password"> <br>
                    <input type="password" name="confirmpassword" placeholder="Confirm password"> <br>
                    <!--Move bio and profile photo to user profile page-->
                    <input type="text" name="bio" placeholder="Bio"> <br>

                    <div class="pronouns">
                        <p><label for="pronouns">Select your pronouns:</label>
                        <select id="pronouns" name="pronouns">
                            <option value="she/her">she/her</option>
                            <option value="he/him">he/him</option>
                            <option value="they/them">they/them</option>
                            <option value="she/they">she/they</option>
                            <option value="he/they">he/they</option>
                            <option value="any">any pronouns</option>
                        </select></p>
                    </div>

                    <div class="title">
                        <p><label for="title">Select your title:</label>
                        <select id="title" name="title">
                            <option value="Professional">Professional</option>
                            <option value="Student">Student</option>
                            <option value="Hobbyist">Hobbyist</option>
                        </select>
                        </p>
                    </div>
                    <input type="file" name="file">
                    <br>
                <button class="ui blue button custom-button" type="submit">Sign Up</button>
            </form>
            {% if error %}
            <p>{{ error}}</p>
            {% endif %}
            <p>Already have an account? <a class="createAccount" href="{{url_for('loginPage')}}">Log in</a></p>
        </div>
            
          <div class="artwork-info">
            <img class="user" src="{{ url_for('static', filename='img/ArtVision_Logo.svg')}}">
            <div class="artist-details">
            <p>Artwork title</p>
            <p>by Artist</p>
          </div>
          </div>
        </main>
    </body>
</html>

