<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selling </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body class="selling-page gradient-bg">
    <header>
      {% extends "base.html" %}
    </header>
  {% block content %}
    <main class="main-content">
      <div class="wrapper">
        <h1>New listing for {{ user.name }} </h1>
      <div class="form-container">
      <form method="POST" enctype="multipart/form-data">
          <div>
          <label>Title</label>
          <br />
          <input type="text" name="title" /> 
          </div>
          <div>
            <input type="file" name="file" class="fileInput" />
          </div>
          <div>
          <label>Description</label> <br />
          <textarea id="description" name="description" rows="5" cols="40"></textarea>
          </div>
        <div>
          <label>Price</label>
          <br />
          <input
            type="number"
            step="0.01"
            min="0.01"
            name="price"
            placeholder="$"
          />
          <p>Estimated earnings: $$</p>
        </div>
        <button class="btn custom-button" type="submit">Submit</button>
      </form>
    
      <div class="preview">
        Preview
        <div class="image-preview"></div>
        </div>
      </div>
      <div>
    </main>
    <script src="{{ url_for('static', filename='js/file_upload_preview.js') }}"></script>
    {% endblock %}
  </body>
</html>
