<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body class="upload-page gradient-bg">
    <main class="main-content">
      <div class="wrapper">
      <h1>Hi {{ user.firstName }}, submit your artwork</h1>
      <div class="form-container">
      <form class="ui form" action="{{ url_for('addArt', user_id=user_id) }}" method="POST" enctype="multipart/form-data">
          <div>
          <label>Title</label>
          <br />
          <input type="text" name="title" /> 
          </div>
          <div>
            <input type="file" name="file" class="fileInput" />
          </div>
          <div>
          <label>Description</label> <br />
          <textarea id="description" name="description" rows="5" cols="40"></textarea>
          </div>
        <!-- <div>
          <label>price</label>
          <br />
          <input
            type="number"
            step="0.01"
            min="0.01"
            name="price"
            placeholder="price"
          />
        </div> -->

        <!-- <div>
          <label>Status</label>
          <br />
          <input type="text" name="status" placeholder="status" />
        </div> -->
        <button class="btn custom-button" type="submit">Submit</button>
      </form>
    
      <div class="preview">
        Preview
        <div class="image-preview"></div>
        </div>
      </div>
      <div>
    </main>
    <script src="../static/js/script.js"></script>
  </body>
</html>
