<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
  </head>
  <body>
    <h1>Submit your artwork</h1>
    <!--placeholder for image-->
    <div>Preview:</div>
    <div
      style="background-color: rgb(202, 203, 203); width: 200px; height: 200px"
    ></div>
    <form method="POST" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <div>
        {{form.title.label}} <br />
        {{form.title()}}
      </div>
      <div>
        {{form.fileInput.label}} <br />
        {{form.fileInput()}}
      </div>
      <div>
        {{form.description.label}} <br />
        {{form.description()}}
      </div>
      <div>{{form.saveDraft()}} {{form.submit()}}</div>
    </form>
  </body>
</html>
