<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
  </head>
  <body>
    <h1>Hi {{ user.firstName }}, submit your artwork</h1>
    <!--placeholder for image-->
    <div>Preview:</div>
    <!--In line styles are temporary-->
    <div
      class="imagePreview"
      style="
        background-color: rgba(199, 157, 238, 0.346);
        width: 300px;
        height: 300px;
      "
    ></div>

    <form class="ui form" action="{{ url_for('addArt', user_id=user_id) }}" method="POST" enctype="multipart/form-data">
      <div class="field">
        <label>Image File</label>
        <input type="file" name="file" id="fileInput">
        <label>Title</label>
        <input type="text" name="title" placeholder="title"> <br>
        <label>description</label>
        <input type="text" name="description" placeholder="description"> <br>
        <label>price</label>
        <input type="number" step="0.01" min="0.01" name="price" placeholder="price"> <br>
        <label>Status</label>
        <input type="text" name="status" placeholder="status"> <br>
      </div>
      <button class="ui blue button" type="submit">Submit</button>
    </form>

    <script>
      //Using built in FileReader API, which can create a file preview on the client-side before uploading
      let imagePreview = document.querySelector(".imagePreview");
      let newImg = document.createElement("img");
      newImg.setAttribute("style", "width: 250px; height: auto;");

      document
        .querySelector("#fileInput")
        .addEventListener("change", function (e) {
          console.log(e);
          let file = e.target.files[0];
          if (file) {
            let reader = new FileReader();
            reader.onload = function (e) {
              console.log(e);
              newImg.setAttribute("src", e.target.result);
              imagePreview.appendChild(newImg);
            };
            reader.readAsDataURL(file);
          }
        });
    </script>
  </body>
</html>
