<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.userName}} ({{user.name}}) | ArtVision</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />

</head>
<body class="user-profile">
    <!-- Navbar (You can create a separate header file and include it on all pages) -->
        {% extends "base.html" %}
    <!-- User Profile Section -->
    {% block content %}
    <div class="profile">
            <!--Profile personal details-->
            <div class="profile-details">
                <h1 class="user-name">{{ user.userName }} </h1>
                <div class="user-intro">
                    <div class="user-img-container">
                        <img src="{{ user.profilePhotoLink }}" alt="profile pic">
                    </div>
                    <div>
                        <p>{{ user.name }}</p>
                        <p>{{ user.pronouns}}</p>
                        <p>{{ user.title}}</p>
                    </div>
                </div>
                <p>About Me</p>
                <div class="bio">
                    <p>{{ user.bio }}</p>
                </div>
                <p>Member Since: {{ (user.registrationDate).strftime("%B %d, %Y")}}</p>

                <!--options if is users profile-->
                {% if isUsersProfile %}
                <div>
                    <p>{{ user.email }}</p>
                    <a href="{{ url_for('logout') }}">Sign Out</a> <br>
                    <a href="{{ url_for('deleteAccount') }}">Delete Account</a> <br>
                    <a href="{{ url_for('uploadPage', user_id=user.id ) }}">Upload New Art</a>
                    <!-- <a href="{{ url_for('userProfile', user_id=user.id )}}">Upload New Art</a> -->
                    <a href="{{ url_for('sellingPage', user_id=user.id ) }}">Sell Your Art</a> <br>
                    <a href="{{ url_for('deletePage', user_id=user.id ) }}">Delete Art</a> <br>
                    <a href="{{ url_for('editPage', user_id=user.id ) }}">Edit Account</a> 
                    {% if message %}
                    <p>{{ message }}</p>
                    {% endif %}                   
                </div>
                {% endif %}
            </div>

        <!-- Artwork Gallery Section -->
        <div class="artwork-gallery">
            <nav>
                <a href="#" class="user-data" onclick="loadContent('gallery')" value="{{user.id}}">Gallery</a>
                <a href="#" class="user-data" onclick="loadContent('shop')" value="{{user.id}}" >Shop</a>
                <a href="#" class="user-data" onclick="loadContent('favorites')" value="{{user.id}}">Favorites</a>
            </nav>
            <div class="artwork-grid">
                <!--Artworks will populate here-->
         
                </div>
     
            </div>
        </div>

    <!-- Footer -->
    <footer>
        <!-- Your footer content here -->
    </footer>

    <!-- Add your JavaScript file link here if needed -->
    <script src="{{ url_for('static', filename='js/user_data_fetch.js') }}"></script>
    {% endblock %}
</body>
</html>