.card{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.total{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

main{
    display: flex;
    justify-content: space-around;
}